.skill {
    margin:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    word-wrap: anywhere;
}